.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    

    &__logo {
        display: flex;
        flex-direction: column;

        &__img {
            position: absolute;
            width: 80px;
        }

        &__text {
            font-size: 69px;
            font-weight: bold;
            margin: 40px 0 0 65px;
        }

        &__clock {
            display: flex;
            justify-content: end;
        }
    }
}