.WeatherPerHour {
    width: 121px;
    height: 131px;
    background: linear-gradient(135deg, #AD36CB 27%, #333333 69%);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}